openapi: 3.0.1
info:
  title: CGN Onboarding Portal Public API
  description: Carta Giovani Nazionale Onboarding Portal - Public API
  version: 0.1.0
servers:
  - url: https://api.cgn.pagopa.it/public/api
tags:
  - name: help
    description: Help
paths:
  /help:
    post:
      tags:
        - help
      summary: Send an help request
      operationId: sendHelpRequest
      requestBody:
        description: Help request
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HelpRequest'
        required: true
      responses:
        "204":
          description: Request Received
          content: { }
      x-codegen-request-body-name: helpRequest
components:
  schemas:
    HelpRequest:
      required:
        - category
        - emailAddress
        - legalName
        - message
        - recaptchaToken
        - referentFirstName
        - referentLastName
      type: object
      properties:
        legalName:
          type: string
        referentFirstName:
          type: string
        referentLastName:
          type: string
        emailAddress:
          type: string
          format: email
        category:
          type: string
          enum:
            - Access
            - DataFilling
            - Discounts
            - Documents
            - TechnicalProblem
            - CgnOwnerReporting
            - Suggestions
            - Other
        topic:
          type: string
        message:
          maxLength: 200
          type: string
        recaptchaToken:
          type: string
  responses:
    InvalidRequest:
      description: Bad request
      content: { }
    Forbidden:
      description: Forbidden
      content: { }
    NotFound:
      description: Not found
      content: { }
x-original-swagger-version: "2.0"
