swagger: '2.0'
info:
  version: 1.1.0
  title: EYCA Data Export

host: ccdb.eyca.org
schemes:
  - https
securityDefinitions:
  basicAuth:
    type: basic

paths:
  /api/auth:
    get:
      operationId: authentication
      tags:
        - EycaDataExport
      summary: session authentication
      security:
          - basicAuth: [ ]
      description: authenticated session
      responses:
        '200':
          description: OK
          schema:
            type: string
        '404':
          description: Not found.
        '500':
          description: Service unavailable.

  /api/create_discount:
    post:
      security:
        - Bearer: [ ]
      operationId: createDiscount
      tags:
        - EycaDataExport
      summary: create a new discount.
      description: Create a new discount.
      parameters:
        - in: body
          name: body
          schema:
            $ref: "#/definitions/Request"
      responses:
        '200':
          description: Upserted organization.
          schema:
            $ref: "#/definitions/ApiResponse"
        '404':
          description: Not found.
        '500':
          description: Service unavailable.
consumes:
  - application/json
produces:
  - application/json
parameters: null

definitions:
  Request:
    type: object
    required:
      - vendor
      - name
      - text
    properties:
      local_id:
        type: string
      vendor:
        type: string
      name:
        type: string
      name_local:
        type: string
      text:
        type: string
      text_local:
        type: string
      +locations:
        type: array
        items:
          $ref: "#/definitions/Location"
      phone:
        type: string
      web:
        type: string
      email:
        type: string
      +tags:
        type: array
        items:
          type: string
      +categories:
        type: array
        items:
          type: string
      live:
        type: integer
      image_source__file:
        type: string
      files:
        type: array
        items:
          $ref: "#/definitions/File"

  Location:
    type: object
    properties:
      street:
        type: string
      zip:
        type: string
      city:
        type: string
      country:
        type: string
      point_x:
        type: string
      point_y:
        type: string
      region:
        type: string

  File:
    type: object
    properties:
      name:
        type: string
      base64:
        type: string

  ApiResponse:
    type: object
    properties:
      api_response:
        $ref: "#/definitions/ApiResponseBody"
  ApiResponseBody:
    type: object
    properties:
      http_status:
        type: integer
        format: int32
      error:
        type: integer
        format: int32
      data:
        $ref: "#/definitions/DiscountData"
      text:
        type: string
      code:
        type: integer
        format: int32
  DiscountData:
    type: object
    properties:
      discount:
        type: array
        items:
          $ref: "#/definitions/Request"