swagger: '2.0'
info:
  version: 1.1.0
  title: EYCA Data Export

host: ccdb.eyca.org
schemes:
  - https
securityDefinitions:
  basicAuth:
    type: basic

paths:
  /api/auth:
    get:
      operationId: authentication
      tags:
        - Eyca
      summary: session authentication
      security:
        - basicAuth: [ ]
      description: authenticated session
      responses:
        '200':
          description: OK
          schema:
            type: string
        '404':
          description: Not found.
        '500':
          description: Service unavailable.

  /api/create_discount:
    post:
      security:
        - Bearer: [ ]
      operationId: createDiscount
      tags:
        - Eyca
      summary: create a new discount.
      description: Create a new discount.
      parameters:
        - in: body
          name: body
          schema:
            $ref: "#/definitions/DataExport"
        - in: query
          name: type
          description: type text or json
          required: false
          type: string
      responses:
        '200':
          description: Discount created.
          schema:
            $ref: "#/definitions/ApiResponse"
        '404':
          description: Not found.
        '500':
          description: Service unavailable.
consumes:
  - application/json
produces:
  - application/json
parameters: null





definitions:
  DataExport:
    type: object
    required:
      - vendor
      - name
      - text
    properties:
      local_id:
        type: string
      vendor:
        type: string
      name:
        type: string
      name_local:
        type: string
      text:
        type: string
      text_local:
        type: string
      +locations:
        type: array
        items:
          $ref: "#/definitions/Location"
      phone:
        type: string
      web:
        type: string
      email:
        type: string
      +tags:
        type: array
        items:
          type: string
      +categories:
        type: array
        items:
          type: string
      live:
        type: integer
      image_source__file:
        type: string
      files:
        type: array
        items:
          $ref: "#/definitions/File"

  File:
    type: object
    properties:
      name:
        type: string
      base64:
        type: string

  ApiResponse:
    type: object
    properties:
      api_response:
        type: object
        properties:
          code:
            type: integer
            example: 1
          data:
            type: object
            properties:
              discounts:
                type: object
                properties:
                  CCDB:
                    type: object
                    properties:
                      offset:
                        type: integer
                        example: 0
                      pageNumber:
                        type: integer
                        example: 1
                      pagesTotal:
                        type: integer
                        example: 246
                      rowsPerPage:
                        type: integer
                        example: 1
                      rowsReturned:
                        type: integer
                        example: 1
                      rowsTotal:
                        type: integer
                        example: 246
                  count:
                    type: integer
                    example: 246
                  data:
                    type: array
                    items:
                      $ref: "#/definitions/DiscountItem"
                  realCount:
                    type: integer
                    example: 1
          error:
            type: integer
            example: 0
          http_status:
            type: integer
            example: 200
          text:
            type: string
            example: "OK"

  DiscountItem:
    type: object
    properties:
      categories:
        type: array
        items:
          $ref: "#/definitions/Category"
      ccdb_id:
        type: string
        example: "38905"
      ccdb_member_id:
        type: integer
        example: 20
      created:
        type: string
        format: date-time
        example: "2017-08-02 08:41:04"
      deleted:
        type: integer
        example: 0
      email:
        type: string
        example: "suministros@bomarhosteleria.com"
      id:
        type: string
        example: "598190209328fd0739980027"
      image:
        type: string
        example: "https://ccdb.eyca.org/cstatic/lhbophmzefwgqzbpkwrbiopsemgocxqn_1611584193.jpg"
      international:
        type: integer
        example: 0
      live:
        type: integer
        example: 1
      local_id:
        type: string
        example: null
      locations:
        $ref: "#/definitions/LocationData"
      member_id:
        type: string
        example: "59086ccdbddd883747454dd0"
      name:
        type: string
        example: "10% discount"
      name_local:
        type: string
        example: null
      online:
        type: integer
        example: 0
      phone:
        type: string
        example: "0034927233125"
      physical:
        type: integer
        example: 1
      tags:
        type: array
        items:
          type: string
      text:
        type: string
        example: "10% on all hotel supplies, uniforms, tableware, cuberturias, household items and furniture"
      text_local:
        type: string
        example: "10% de descuentos en suministros de hostelería, uniforme, vajillas, cuberterías, menaje y mobiliario."
      updated:
        type: string
        format: date-time
        example: "2021-02-05 08:22:53"
      vendor:
        type: string
        example: "Bomar Hostelería"
      web:
        type: string
        example: "http://www.bomarhosteleria.com/"

  Category:
    type: object
    properties:
      ccdb_id:
        type: string
        example: "40102"
      id:
        type: string
        example: "SH"
      name:
        type: string
        example: "Shopping"

  LocationData:
    type: object
    properties:
      count:
        type: integer
        example: 1
      data:
        type: array
        items:
          $ref: "#/definitions/Location"

  Location:
    type: object
    properties:
      ccdb_id:
        type: string
        example: "1150"
      city:
        type: string
        example: "Cáceres"
      country:
        $ref: "#/definitions/Country"
      geo:
        $ref: "#/definitions/GeoData"
      id:
        type: string
        example: "598190209328fd0739980028"
      point_x:
        type: string
        example: "-6.38247299"
      point_y:
        type: string
        example: "39.44942093"
      street:
        type: string
        example: "C/Trasera de Mérida Cr, 5"
      zip:
        type: string
        example: "10195"

  Country:
    type: object
    properties:
      ccdb_id:
        type: integer
        example: 132
      id:
        type: string
        example: "ES"
      name:
        type: string
        example: "Spain"
      region:
        type: string
        example: "Extremadura"

  GeoData:
    type: object
    properties:
      lat:
        type: string
        example: "39.44942093"
      lng:
        type: string
        example: "-6.38247299"
      point_x:
        type: string
        example: "-6.38247299"
      point_y:
        type: string
        example: "39.44942093"
